.error {
    margin: 100px auto;
    text-align: center;

    &__icon {
        font-size: 50px;
        color: lighten(#f44336, 15%);
    }

    &__text {
        display: block;
        margin: 30px;
        font-weight: 300;
        font-size: 30px;
        color: lighten(#f44336, 15%);
    }
}